*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: roboto, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

h1{
    color: #7613b7;
    margin-bottom: 20px;
}

img{
    max-width: 50%;
    height: auto;
    border-radius: 15px;
}